.pagina{
    width: 82vw;
    height: 100vw;
    
    position: absolute;
    top:0;
    right: 0;
}

paginaheader{
font-family: arial;

}

paginaform{
width: 90%;
padding: 10px;
height: 42%;
border: 1px green solid;
}

paginadiv{
width: 90%;
padding: 10px;
height: 35%;
border: 1px purple solid;
}

.pagina .inputs{
    width: 98%;
    height: 6%;
    padding: 1%;

}

paginacontroles{
    width: 100%;
    height: 10%;
    border: 1px orange solid;
}

.inputs input{
    width: 200px;
    padding: 5px;
    border: 1px #CDCDCD solid;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.inputs select{
    width: 200px;
    padding: 5px;
    border: 1px #CDCDCD solid;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.controles button{
    width: 150px;
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 5px;

}

.salvar{
    background-color: green;
}

.salvar:hover{
    background-color: darkgreen;
    transition-duration:0.2s ;
    cursor: pointer;
}

.cancelar{
    background-color: red;
}

.cancelar:hover{
    background-color: darkred;
    transition-duration: 0.2s;
    cursor: pointer;
}

.relatorio{
    width: 100%;

}